
.comentarios-slider{
    margin: auto;
    width: 80%;
}
.slide-icon{
    align-items: center;
    background-color: #AAA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 96px;
    margin: auto;
    padding: 1rem;
    position: relative;
    width: 96px;
}
.keen-slider__slide{
    padding: 1rem;
    width: 33.3333%;

    &:hover{
        cursor: w-resize;
    }

    &:active, &:focus{
        cursor: grabbing;
    }
}